.workout-details {
  background-color: lightcyan;
  padding: 1rem;
  margin: 0.5rem;
}
.workout-details h4 {
  color: red;
  font-size: 1.5rem;
}

.workout-details h4,
.workout-details h5 {
  margin: 0;
}

.error {
  border: 2px solid red;
}
